<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <title>{% block titlecontent %}sponge browser{% endblock %}</title>
{% block xtraheadcontent %}{% endblock %}
</head>
<body>
{% block bodycontent %}
{% endblock %}
</body>
</html>