{% extends "sponge/base.html" %}
{% block bodycontent %}
<style>
form input#form_url {
    width: 100%;
}
form p {
    display: flex;
}
.badge {
    background: lightgray;
    padding: 2px;
}
div.html {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}
iframe {
    width: 100%;
    height: 640px;
}
</style>
<form action="{% url 'browse' %}" method="post">
    {% csrf_token %}
    <p>
    <input autofocus id="form_url" type="text" value="{{url.url}}" name="url" placeholder="URL">
    <input type="submit" value="OK">
    <input name="_submit" type="submit" value="reload">
    </p>
</form>

<p class="info">
    {% if response.status %}
    <span class="status badge">{{response.status}} ({{response.reason}})</span>
    {% endif %}
    {% if response.content_type %}
    <span class="content_type badge">{{response.content_type}}</span>
    {% endif %}
    {% if response.content_length %}
    <span class="content_length badge">{{response.content_length|filesizeformat}}</span>
    {% endif %}
    {% if response.html_lang %}
    <span class="lang badge">{{response.html_lang}}</span>
    {% endif %}
</p>

{% if response.redirected_from %}
<p>Redirected from: {{response.redirected_from.url}}</p>
{% endif %}

{% if url %}
<details>
<summary>URL</summary>
    <dl>
        <dt>scheme</dt>
        <dd>{{url.scheme}}</dd>
        <dt>hostname</dt>
        <dd>{{url.hostname}}</dd>
        {% if url.port %}
        <dt>port</dt>
        <dd>{{url.port}}</dd>
        {% endif %}
        <dt>path</dt>
        <dd>{{url.path}}</dd>
        {% if url.params %}
        <dt>params</dt>
        <dd>{{url.params}}</dd>
        {% endif %}
        {% if url.query %}
        <dt>query</dt>
        <dd>{{url.query}}</dd>
        {% endif %}
    </dl>        
</details>
{% endif %}

{% if response.headers %}
<details>
    <summary>HTTP</summary>
<dl>
{% for header, value in response.headers.items %}
<dt>{{header}}</dt>
<dd>{{value}}</dd>
{% endfor %}
</dd>
</details>
{% endif %}

{% if html %}
<details>
    <summary>HTML</summary>
    {% if html_title %}
    <p>title: {{html_title}}</p>
    {% endif %}
    {% if html_links %}
    <ul>
    {% for link in html_links %}
    <li><a href="{% url 'browse' %}?url={{link|urlencode}}">{{link}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
</details>
{% endif %}

{% if image %}
<details open>
    <summary>Image</summary>
    <img src="{{url}}">
</details>
{% endif %}

{% if html_src %}
<details open >
    <summary>Page</summary>
    <div class="html">{{html_src|safe}}</div>
</details>
{% endif %}

{% if response.content %}
<details open>
    <summary>Content</summary>
<dl>
    <dt>sha1</dt>
    <dd>{{response.content.sha1}}</dd>
    <dt>date</dt>
    <dd>{{response.date}}</dd>
    <dt>frame</dt>
    <dd><iframe src="/c/{{url}}"></iframe></dd>
</dl>
</details>
{%endif%}

{% endblock %}