{% extends "sponge/base.html" %}
{% load sponge_extras %}
{% block bodycontent %}
<style>
    li.active { font-weight: bold; }
    nav.filter {
        float: right;
    }
    ul.filter {
        list-style: none;
        padding-left: 0;
    }
</style>

<nav class="filter">
    <h2>FILTER</h2>
    <div>
        <a href="?">Clear all filters</a>
    </div>
    <div class="hostname filter">
        <h3>By hostname</h3>
        <ul class="hostname filter">
            <li><a href="?{% urlencoder filter_params hostname=None %}">All</a></li>
            {% for hostname in hostnames %}<li{% if filter_params.hostname == hostname %} class="active"{%endif%}><a href="?{% urlencoder filter_params hostname=hostname %}">{{hostname}}</a></li>{% endfor %}
        </ul>
        <h3>By content_type</h3>
        <ul class="contenttype filter">
            <li><a href="?{% urlencoder filter_params content_type=None %}">All</a></li>
            {% for content_type in content_types %}<li{% if filter_params.content_type == content_type %} class="active"{%endif%}><a href="?{% urlencoder filter_params content_type=content_type %}">{{content_type|default:"None"}}</a></li>{% endfor %}
        </ul>
    </div>
</nav>

<main>

<h2>Responses</h2>
<ul>{% for response in page %}
    <li><a href="/b/{{response.url}}">{{response.url}}</a></li>{% endfor %}
</ul>
</main>

<div class="pagination">
    <span class="count">
        {{responses.count}} responses,
    </span>
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?{% urlencoder filter_params page=1 %}">&laquo; first</a>
            <a href="?{% urlencoder filter_params page=page.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?{% urlencoder filter_params page=page.next_page_number %}">next</a>
            <a href="?{% urlencoder filter_params page=page.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}